[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "22"
  NEXT_PUBLIC_POCKETBASE_URL = "https://pocketbase.bdpro.in"
